<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SkewerSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>934254241E204DFE00EC9C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>934254381E204DFE00EC9C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>934254431E204DFE00EC9C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
